<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    {{>headLinks}}
</head>

<body>
    {{>navbar}}
    {{!-- Main Content Begin --}}
    <div class="container-fluid main_content">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto pb-5 pt-5">
                <div class="row">
                    {{!-- Left Side --}}
                    <div class="col-md-12 col-12 main_content_left align-items-center">
                        <figure class="img404">
                            <img src="images/404.png" alt="">
                        </figure>
                        <h1>
                           <span>Oops!</span> Page <span>Not</span> Found
                        </h1>
                        <a href="/">
                            <button>
                                Go Back
                            </button>
                        </a>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    {{!-- Main Content End --}}

    {{>footer}}
</body>

</html>